.pages-container {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.button-styling {
  display: flex;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: none;
}

.button-styling:hover {
  background-color: rgb(196, 196, 196);
}

.page-number {
  color: black;
}

.pages {
  padding: 5px;
}