.dark-mode {
  background-color: #1a1919;
  color: #999;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

.light-mode {
    background-color: #fff;
    color: #333;
    height: 100%;
    transition: background-color 0.25s ease-in-out;
}

.span {
  font-size: 40px;
}

.container-themes {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark-mode {
  background-color: #1a1919;
  color: #999;
  transition: background-color 0.25s ease-in-out;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode .navbar,
body.dark-mode .nav-menu.active,
body.dark-mode .home-footer {
  background-color: #1a1919;
  color: #999;
  transition: background-color 0.25s ease-in-out;
}